<!-- <form class="filter-form">
    <div class="labels-inputs">
      <p>
        <label for="albumName">Filter by Album Name:</label>
        <input #filterAlbumName
               type="text"
               name="albumName"
               id="albumName"
               [(ngModel)]="albumFilter"
               (input)="update()" />
      </p>
      <p>
        <label for="artistName">Filter by Artist:</label>
        <input #filterAlbumName
               type="text"
               name="artistName"
               id="albumName"
               [(ngModel)]="artistFilter"
               (input)="update()" />
      </p>
      <button type="button" (click)="clearF()">Clear Filters</button>
    </div>
  </form> -->
