<header>
    <h1>Boots N' Cats</h1>
    <nav>
        <span>
            <nav>
                <span
                  ><a [routerLink]="['/login']" [routerLinkActive]="['link-active']">
                    Login</a
                  ></span
                >
                <span
                  ><a [routerLink]="['/signup']" [routerLinkActive]="['link-active']"
                    >Signup</a
                  ></span
                >
                <span
                  ><a [routerLink]="['/albums']" [routerLinkActive]="['link-active']"
                    >Albums</a
                  ></span
                >
                <span
                ><a [routerLink]="['/review']" [routerLinkActive]="['link-active']"
                  >Album Review</a
                ></span
              >
              </nav>
        </span>
    </nav>
</header>
