<app-navbar></app-navbar>

<div id="flavor-text" class="text-center">
  <h4>Artist Aggregator</h4>
  <h5>
    On this page, one can search an artist in Spotify's database and the aggregator will generate a web of new artists to listen based on the one entered. <br> Click on the artist image to check out their Spotify page!
  </h5>
</div>

<form>
  <div class="form-group">
    <input [(ngModel)]="artistSearch" for="artistSearch" name="artistSearch" placeholder="Search Artist..." type="text" (keyup)="searchForArtist()" class="form-control search-bar"/>
  </div>
</form>

<div class="grid-container" *ngFor="let item of artistArray">
  <img [src]="item.images[0].url" class="img-fluid img-thumbnail search-thumbnail"/>  <h2>{{ item.name }}</h2>
  <button (click)="captureId(item.id)" class="btn btn-info">Generate Artist Web</button>
  <div class="grid-item" *ngFor="let artist of relatedArtistArray">
    <h3>{{ artist.name }}</h3>
    <a href={{artist.external_urls.spotify}}><img id="artist-image"[src]="artist.images[0].url" class="img-fluid img-thumbnail search-thumbnail"/></a>
  </div>
</div>
