<app-navbar></app-navbar>
<!-- <div class="login-card">
    <header>LOGIN</header> -->
    <!-- select user method needs review/proper naming -->
    <!-- <form action="selectUser()"> 
    <label for="uname">USERNAME : </label>
    <input type="text" id="uname" name="username" placeholder="ENTER USERNAME">
    <label for="pass">PASSWORD : </label>
    <input type="password" id="pass" name="password" placeholder="ENTER PASSWORD">
    <input type="submit" value="Submit">
</form>
</div>
<div>
    <button class="register-button"><a routerLink="signup">CLICK TO REGISTER!</a></button>
</div> -->

<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-5 text-center mt-5 position-absolute top-50 start-50 translate-middle">
            <div class="card px-5">
                <div class="text-center">
                    <h1 class="mb-3">Log In</h1>
                    <h6 class="mb-3">Please enter username and password</h6>

                    {{loginUser | json}}
                </div>
                <form #form="ngForm" (ngSubmit)="selectUser(loginUser)" novalidate>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Enter Username" [(ngModel)]="loginUser.userName">
                      </div>
                      <div class="mb-3">
                        <label for="Password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password" [(ngModel)]="loginUser.password">
                        <input class="mt-4" type="submit" value="Log In">
                    </div>
                      </form>
                      <form>
                        <input type="submit" value="Sign Up" (click)="signUpRedirect()">
                      
                </form>
                
            </div>
        </div>
    </div>
</div>