<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-5">
    <div
      class="col-md-5 text-center mt-5 position-absolute top-50 start-50 translate-middle"
    >
      <div class="card px-5">
        <div class="sign-up-card">
          <header>COMPLETE FORM TO SIGN UP!</header>
          <!-- add user method needs review/proper naming-->
          <form class="was-validated" #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <!-- {{form.value | json}}

            {{newUser | json}} -->
            <label class="form-label" for="FirstName">First Name: </label>
            <input class="form-control"
              type="text"
              id="FirstName"
              name="FirstName"
              placeholder="ENTER FIRST NAME"
              [(ngModel)]="newUser.firstName"
              required/>

            <label class="form-label" for="LastName">Last Name: </label>
            <input class="form-control"
              type="text"
              id="LastName"
              name="LastName"
              placeholder="ENTER LAST NAME"
              [(ngModel)]="newUser.lastName"
              required/>

            <label for="UserName">User Name: </label>
            <input class="form-control"
              type="text"
              id="UserName"
              name="UserName"
              placeholder="ENTER USERNAME"
              [(ngModel)]="newUser.userName"
              required/>

            <label class="form-label" for="Password">Password: </label>
            <input class="form-control"
              type="password"
              id="Password"
              name="Password"
              placeholder="ENTER PASSWORD"
              [(ngModel)]="newUser.password"
              required/>

            <input type="submit" value="Submit" />
          </form>
          <a [routerLink]="['/login']"
            >Already registered? Click here to login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
