<app-navbar></app-navbar>
<h3>Good morning, {{loginUser.firstName}}</h3>
<form (ngSubmit)="submit()" class="add-review-form">
    <h2 class="add-review-heading">Add a Review</h2>

    <p>
      <label for="Rating">Rating:</label>
      <input type="number"
             name="rating"
             id="rating"
             [(ngModel)]="formRating"
             min="1"
             max="5"
             />
             
    </p>
    <p>
      <label for="ReviewContent">Comments:</label>
      <input type="text"
             name="ReviewContent"
             id="ReviewContent"
             [(ngModel)]="formReviewContent" />
    </p>
    <p>
      <label for="recommendation">Recommend:</label>
      <input type="checkbox"
             name="recommendation"
             id="recommendation"
             [(ngModel)]="formRecommendation" />
    </p>
    <button>Submit</button>
  </form>

