<app-navbar></app-navbar>
<style>
  .review-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .review-table td,
  #products th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .review-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .review-table tr:hover {
    background-color: #ddd;
  }

  .review-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: green;
    font-family: unset;
  }
</style>
<div class="grid-container">
  <div class="grid-item" *ngFor="let review of reviews.reverse(); index as i">
    <div class="card border-primary mb-3" style="display: flexbox">
      <img img [src]="review.imageURL" alt="" />
      <div class="card-body">
        <h1 class="card-title" style="font-weight: 1000">
          {{ review.albumName }} {{ review.rating }}/5
        </h1>
        <h3 class="card-subtitle mb-2 text-muted">
          Reviewer: {{ userArray[findIndex(review)].userName }}
        </h3>
        <br />

        <h4 class="card-text" style="font-style: italic">
          {{ review.reviewContent }}
        </h4>
        <br />
        <div
          class="card-footer"
          style="background-color: transparent; border-color: transparent"
        >
          <div>
            <h5 *ngIf="review.recommendation">
              Recommended ✓
            </h5>
              <div >
                <button *ngIf="this.frontEndService.loginUser.id === this.review.userId"
                  class="btn btn-light"
                  style="
                    float: right;
                    position: relative;
                    bottom: 14px;
                    width: 30%;"
                  (click)="removeReview(review.id!)"
                >
                  Delete
                </button>
              </div>
            <h5 *ngIf="!review.recommendation">Not Recommended</h5>
          </div>

          <p>Date Submitted: {{ review.dateSubmitted }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
