<!-- Search for album -->

<div class="form-group">
  <input
    [(ngModel)]="searchQuery"
    name="query"
    placeholder="Search Album..."
    (keyup)="searchAlbums()"
    type="search"
    class="form-control"
  />
</div>

<!-- <pre>{{searchAPIResponse | json}}</pre> UNCOMMENT THIS TO TEST API RESPONSE -->
<!-- Album Information -->

<div class="card" *ngFor="let item of itemArray">
  <img class="card-img-top"
  [src]="item.images[0].url"
  class="img-fluid img-thumbnail search-thumbnail"
  alt=""
/>
  <h2>{{ item.name }}</h2>
 
  <div *ngFor="let artist of item.artists">
    <h4>{{ artist.name }}</h4>
    
    <button (click)="captureId(item.id)" [routerLink]="['/review-form']">
      Review
    </button>
  </div>
</div>
