<!-- Search for album -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<app-navbar></app-navbar>
<h1>SEARCH FOR AN ALBUM TO REVIEW</h1>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form style="margin:auto;max-width:500px">
          <div class="form-group">
            <span>
              <input [(ngModel)]="searchQuery" name="query" placeholder="Search Albums..." type="search"
                class="form-control">
              <input class="mt-4" type="submit" value="Submit" (click)="searchAlbums()">
            </span>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <pre>{{searchAPIResponse | json}}</pre> UNCOMMENT THIS TO TEST API RESPONSE -->

<!-- Album Information -->
<div class="row" *ngFor="let item of itemArray">
  <h2>{{item.name}}</h2>
  <div class="row" *ngFor="let artist of item.artists">
    <h4>
      {{artist.name}}
    </h4>
    <img [src]="item.images[0].url" class="img-fluid img-thumbnail search-thumbnail" alt="">
  </div>
  <input type="submit" value="Review" (click)="reviewRedirect()">
</div>




<!-- <section>
  <div class="container">
    <div class="row" *ngFor="let item in itemArray">
      <div class="col">
        <div class="card mt-3">
          <div class="card-header bg-primary text-white">
            <h2>{{item.name}}</h2>
            <div class="card-body">
              <div class="row" *ngFor="let artist of item.artists>
                <div class="col-md-3">
                  <img [src]="item.images[0].url" class="img-fluid img-thumbnail search-thumbnail" alt="">
                </div>
                <div class="col-md-9">
                  <h4 class="display-3 text-primary">{{artist.name}}</h4>
                  <p class="h2">Release Date: {{item.release_date}}</p>
                  <p class="h5">Tracks: {{item.total_tracks}}</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->